<!-- Load c3.css -->
<!-- <link href="--c3_css--" rel="stylesheet" type="text/css"> -->

<!-- Load d3.js and c3.js -->
<!-- <script type="text/javascript" src="--d3--" charset="utf-8"></script> -->
<!-- <script type="text/javascript" src="--c3--"></script> -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<head>

</head>

<style>


  .tab{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #E6E6E6;
    clear: both;
    float: left;
    position: relative;
    border-radius:5px;
    border-top: 0px;
    padding: 15px 15px 3px 15px;
  }

  .tab_col {
    padding: 7px 30px 7px 30px;
    background-color: #B1D4F9 !important;
    text-align: center;
  }

  
    .small_pic {
	position: relative;
	max-width: 100%;
	max-height: 25%;
	height: 115px;
	width: 100px
	float: left;
	clear: both;
  }

  .plot_tab {
	position: relative;
	height: 200px;
	width: 200px
	float: left;
	clear: both;
  }



  td {
    text-align: center;
  }

  .c3 svg g g.c3-axis.c3-axis-x {
    font: 12px sans-serif;
  }

  .c3 svg g g.c3-axis.c3-axis-y {
    font: 12px sans-serif;
  }

  .div_chart {
	position: relative;
        display: block;
	float: left;
	clear: both;
  //      margin-top:10px;
  }

  .div_chart_sp {
	      position: relative;
        display: block;
	      float: left;
	      clear: both;
        margin-top:10px;
        margin-bottom:10px;
  }

  .spacer {
        margin-top:10px;
        margin-bottom:10px;
  }

  .button_chart {
	position: relative;
        cursor:pointer;
	      float: left;
        margin-top:10px;
        margin-left:3px;
        background-color: #D6EEFA;
        color: #0D73A7;
        border-radius:5px;
        font-size: 15px;
        text-align: center;
  }

 .tooltip_tab{ 
   width: auto;
    height: 30px;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    background-color: #B1D4F9;
    border-radius:5px;
  }
  
   .tooltip_cell{
   width:auto;
       height: 30px;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    background-color: #E6E6E6;
    border-radius:5px;
  }

        #header{
	   margin: 7px 5px 5px 5px;
	   width: 1250px;
	   height: 215px;
	   position: relative;
	   display: block;
	   text-align: left;
	   clear : both;
	   color: black;
	   font-size: 12px;
	   border-radius:5px;
           background: #B1D4F9;
	   float: left;
        }

      /* disable text selection */
      svg *::selection {
         background : transparent;
      }

      svg *::-moz-selection {
         background:transparent;
      }

      svg *::-webkit-selection {
         background:transparent;
      }
      rect.selection {
        stroke          : #333;
        stroke-dasharray: 4px;
        stroke-opacity  : 0.5;
        fill            : transparent;
      }

      rect.cell-border {
        stroke: #eee;
        stroke-width:0.3px;
      }

      rect.cell-selected {
        stroke: rgb(51,102,153);
        stroke-width:0.5px;
      }

      rect.cell-hover {
        stroke: #F00;
        stroke-width:0.3px;
      }

      text.mono {
        font-size: 12pt;
        font-family: Consolas, courier;
        fill: #686666;
      }

      text.text-selected {
        fill: #000;
      }

      text.text-highlight {
        fill: #c00;
      }
      text.text-hover {
        fill: #00C;
      }
      
      #tooltip {
        z-index: 1;
        position: absolute;
        width: auto;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
      }

      #tooltip.hidden {
        display: none;
      }

      #tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 20px;
        line-height: 20px;
      }


  .Section_button {
  background-color: #D6EEFA;
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 450px;
  height: 20px;
  position: relative;
  display: block;
  text-align: center;
  color: #0D73A7;
  font-size: 15px;
  padding: 4px;
  clear: both;
  border-radius:5px;
  cursor: pointer;
  }

  .selected_header_section {
    color : #CC6600;
    background-color: #F6E6CA !important;
    border: 1px solid #F6E6CA;
  }

 .file_link {
  cursor: pointer;
  text-decoration: none;
  }

  .file_link:hover {
  text-decoration: underline;
  }

.c3-legend-item {
  font-size: 10px;
  }
  
}

</style>

<!--

<div id="summary_table_button" class="button_click Section_button selected_header_section"><strong>Parameters Table</strong></div>
<div id="summary_table" class="tab spacer">
<!-- <h2 style="margin-top: 0px;margin-bottom: 3px;">Results Summary</h2> 
<table style="width:1270px" id="head_table" >
<thead><tr>
	  <th class="tab_col">Bin size</th>
	  <th class="tab_col">Nb of Bins</th>
	  <th class="tab_col">Nb of sequences</th>
	  <th class="tab_col">Nb of motifs</th>
	  <th class="tab_col">P-val (motif matches)</th>
</tr></thead>
<tbody>
          <td class="par_text">--bin_l-- nt </td>
          <td class="par_text">--bin_nb--</td>
          <td class="par_text">--seq_nb--</td>
          <td class="par_text">--motif_nb--</td>
          <td class="par_text">--p--</td>
</tbody>
</table></div>


// Slide the Individual Motif Table
$(document).ready(function() {
    $('#individual_motif_button').click(function() {
	$('#individual_motif_tab').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


// Slide the Individual Motif Table
$(document).ready(function() {
    $('#dynamic_profile_button').click(function() {
	$('#dynamic_profile').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


// Slide the Summary Table
$(document).ready(function() {
    $('#summary_table_button').click(function() {
	$('#summary_table').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


// Slide the Heatmap
$(document).ready(function() {
    $('#sig_coverture_button').click(function() {
	$('#sig_coverture').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


// Slide the Heatmap
$(document).ready(function() {
    $('#heatmap_button').click(function() {
	$('#heatmap').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});

// Slide the Co-ocurrence Heatmap
$(document).ready(function() {
    $('#heatmap_coocurrence_button').click(function() {
	$('#heatmap_coocurrence').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


// Slide the additonal files
$(document).ready(function() {
    $('#additional_files_button').click(function() {
	$('#additional_files').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});

-->



<div id='General_info_tab' style='width:2000px;' class='tab div_chart_sp'><p style='font-size:12px;padding:0px;border:0px'><b>General Info Table</b></p>
<table id='XXXXXX' class='hover compact stripe' cellspacing='0' width='1190px' style='padding:15px;align:center;'>
  <thead><tr><th class="tab_col"> 1 </th><th class="tab_col"> 2 </th> <th class="tab_col"> 3 </th> <th class="tab_col"> 4 </th> <th class="tab_col"> 5 </th> <th class="tab_col"> 6 </th> </tr></thead>
  <tbody>
    <tr><td><a href='--1a--' target='_blank'><img class='plot_tab' src ='--1b--'/></a></td><td><a href='--2a--' target='_blank'><img class='plot_tab' src ='--2b--'/></a></td><td><a href='--3a--' target='_blank'><img class='plot_tab' src ='--3b--'/></a></td> <td><a href='--4a--' target='_blank'><img class='plot_tab' src ='--4b--'/></a></td> <td><a href='--5a--' target='_blank'><img class='plot_tab' src ='--5b--'/></a></td> <td><a href='--6a--' target='_blank'><img class='plot_tab' src ='--6b--'/></a></td></tr>
    </tbody>
    </table>
</div>



--xseq_tab--


<script charset="utf-8" type="text/javascript">
$(document).ready( function () {
    $('#miR_tab').DataTable({
        "info":     true,
        "iDisplayLength": 10,
        "order": [[ 4, "asc" ]],
	"search": {
	    "regex": true,
	    "smart": true
	},
	"aoColumnDefs": [
            { "bSortable": true, "aTargets": [ 0,1,2,3,4,5],
 //             "width": "50%",
            }
	]	
    });
});

</script>